In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = r"/home/fatih/Documents/okul/3.sınıf/machine learning/car_evaluation.csv"
df = pd.read_csv(data, header=None)

In [3]:
df.shape

(1728, 7)

In [4]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [11]:
col_names = ["buying","maint","doors","person","lug_boot", "safety", "class"]
df.columns = col_names

In [6]:
df.head()

    alma  bakım kapılar kişi  bagaj güvenlik  sınıf
0  vhigh  vhigh       2    2  small      low  unacc
1  vhigh  vhigh       2    2  small      med  unacc
2  vhigh  vhigh       2    2  small     high  unacc
3  vhigh  vhigh       2    2    med      low  unacc
4  vhigh  vhigh       2    2    med      med  unacc

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alma      1728 non-null   object
 1   bakım     1728 non-null   object
 2   kapılar   1728 non-null   object
 3   kişi      1728 non-null   object
 4   bagaj     1728 non-null   object
 5   güvenlik  1728 non-null   object
 6   sınıf     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [8]:
for col in col_names:
  print(df[col].value_counts())

alma
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64
bakım
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64
kapılar
2        432
3        432
4        432
5more    432
Name: count, dtype: int64
kişi
2       576
4       576
more    576
Name: count, dtype: int64
bagaj
small    576
med      576
big      576
Name: count, dtype: int64
güvenlik
low     576
med     576
high    576
Name: count, dtype: int64
sınıf
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [12]:
df["class"].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [10]:
df.isnull().sum()

alma        0
bakım       0
kapılar     0
kişi        0
bagaj       0
güvenlik    0
sınıf       0
dtype: int64

In [13]:
x = df.drop(["class"],axis=1)

In [14]:
y = df["class"]

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3,random_state=42)

In [16]:
x_train.shape

(1209, 6)

In [17]:
x_test.shape

(519, 6)

In [18]:
x_train.dtypes

buying      object
maint       object
doors       object
person      object
lug_boot    object
safety      object
dtype: object

In [19]:
x_train.head()

     buying maint  doors person lug_boot safety
1178    med   med  5more      4      big   high
585    high  high      3   more    small    low
1552    low   med      3      4      med    med
1169    med   med  5more      2      big   high
1033    med  high      4      2      big    med

In [21]:
import category_encoders as ce

In [22]:
encoder = ce.OrdinalEncoder(cols=["buying","maint","doors","person","lug_boot", "safety"])
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [23]:
x_train.head()

      buying  maint  doors  person  lug_boot  safety
1178       1      1      1       1         1       1
585        2      2      2       2         2       2
1552       3      1      2       1         3       3
1169       1      1      1       3         1       1
1033       1      2      3       3         1       3

In [24]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=10,random_state=0)
rfc.fit(x_train,y_train)
y_pred = rfc.predict(x_test)

In [25]:
from sklearn.metrics import accuracy_score
print("Model Accuracy: {0:0.4f}".format(accuracy_score(y_test,y_pred)))

Model Accuracy: 0.8863

In [26]:
rfc_100 = RandomForestClassifier(n_estimators=100,random_state=0)
rfc_100.fit(x_train,y_train)
y_pred_100 = rfc_100.predict(x_test)
print("Model Accuracy with  100 decision tree: {0:0.4f}".format(accuracy_score(y_test,y_pred_100)))

Model Accuracy with  100 decision tree: 0.9037

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rfc_100 = RandomForestClassifier(n_estimators=100, random_state=0)
rfc_100.fit(x_train, y_train)
y_pred_100 = rfc_100.predict(x_test)
print("Model Accuracy with 100 decision trees: {0:0.4f}".format(accuracy_score(y_test, y_pred_100)))

Model Accuracy with 100 decision trees: 0.9037